.description {
  margin-top: 5px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  
}

.buttons button {
  background-color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
  border: solid 1px #4169E1;
  color: #4169E1;
}

.buttons button.active {
  background-color: #4169E1;
  color: white;
  
}

.buttons button:hover {
  background-color:#4169E1;
  color: white;
}
.minus{
  color: #4169E1;
  background-color: #ddd;
}
.plus{
  color: #4169E1;
  background-color: #ddd;
}


.spinner {
  margin: 50px auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid#4169E1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px; 
}


.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  align-self: center;
}

.product-card .category {
  color: #4169E1;
  font-size: 14px;
  margin: 10px 0;
}

.product-card h2 {
  font-size: 16px;
  margin: 10px 0;
  white-space: normal;
}
.product-card .price {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
}

.product-card .Price_Cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.add-to-cart {
  width: 141px;
  height: 39px;
  border-radius: 10px;
  padding: 10px 12px;
  background-color: #4169E1;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}




.cart {
  position: static;
  width: 100%;
  background: white;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.cart-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: flex-start;
  width: 100%;
}


.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  max-width: 492px; 
  background-color: #fff;
  box-shadow: none; 
  margin: 20px 10px 0px 10px; 
}

.cart-item img {
  max-width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item .details {
  display: flex;
  flex-direction: column;
}

.cart-item .category {
  margin: 5px 0;
  font-family: Arial, sans-serif; 
  color: #4169E1; 
}

.cart-item .description {
  margin: 5px 0;
  font-family: Arial, sans-serif; 
}

.cart-item .price {
  margin: 5px 0;
  font-family: Arial, sans-serif; 
  color: #000; 
  font-weight: bold; 
}

.cart-item .quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #4169E1;
  border-radius: 10px;
  background-color: white;
  background-color: white;
  margin-top: 10px;

}

.cart-item .quantity-controls button {
  background: none;
  border: none;
  color: #4169E1;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.cart-item .quantity-controls span {
  margin: 0 10px;
  font-size: 16px;
  color: #4169E1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4169E1;
  border-radius: 10px;
  background-color: white;
  width: 141px;
  height: 37px;
}


.quantity-controls button {
  background: none;
  border: none;
  color: #4169E1;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;

}

.quantity-controls span {
  margin: 0 10px;
  font-size: 16px;
  color: #4169E1;
}

